.navbar {
  width: 100%;
  position: absolute;
  margin-top: 0px;
  left: 0;
  padding: 0;
}
@media (max-width: 47.999em) {
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}
.navbar .navbar-nav {
  width: 100%;
  border-radius: 0px;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  margin-top: 0px;
  align-items: flex-start;
  overflow: hidden;
  background-color: #1082df;
  border-radius: 0px;
  padding: 0;
  gap: 1.5rem;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  display: block;
  padding: 10px 15px;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: rgba(113, 175, 226, 0.568);
  border-radius: 20px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0a2841, #1082df);
}

header {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background-color: hsla(0, 0%, 100%, 0);
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
  margin: 0;
}
header .menu-icon .nav-icon {
  background-color: #1082df;
  display: block;
  width: 25px;
  height: 3px;
  position: relative;
  transition: background-color 0.2s ease-out;
}
header .menu-icon .nav-icon::before, header .menu-icon .nav-icon::after {
  background-color: #1082df;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-out;
  position: absolute;
}
header .menu-icon .nav-icon::before {
  top: 8px;
}
header .menu-icon .nav-icon::after {
  top: -8px;
}
header .menu-btn {
  display: none;
}
header .menu-btn:checked ~ .menu-icon {
  background-color: #1082df;
  position: fixed;
  right: 0;
  top: 0;
  padding: 28px 20px;
  z-index: 2;
}
header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon::before, header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  background-color: #0a2841;
}
header .menu-btn:checked ~ .navbar {
  background-color: #1082df;
  top: 0;
  height: 100vh;
}
header .menu-btn:checked ~ .navbar .navbar-nav {
  max-height: 100%;
  padding: 1rem;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}
header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

.nav-link.active {
  background-color: rgba(10, 40, 65, 0.795);
  border-radius: 30px;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

@media (min-width: 48em) {
  h1 {
    color: #ffffff;
    font-size: 54px;
  }
  h2 {
    color: #ffffff;
    font-size: 40px;
  }
  header .menu-icon {
    display: none;
  }
  .navbar {
    position: static;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0rem;
  }
  .navbar .navbar-nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 30px;
    padding: 0.5rem 15rem !important;
    width: auto;
    max-height: none !important;
    margin: 1rem;
  }
  .container-fluid {
    display: flex;
    flex-direction: row;
    padding: 150px 10% 40px 10%;
  }
  .bio-iniziale {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }
  .foto-profilo {
    display: flex;
    justify-content: right;
    padding-right: 50px;
  }
  .img-fluid {
    width: 60%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 47.999em) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    padding: 60px 20px 20px 20px;
  }
  .container-fluid .foto-profilo {
    display: flex;
    justify-content: center;
  }
  .container-fluid .foto-profilo .img-fluid {
    padding: 20px 0px;
    width: 90%;
    background-color: transparent;
  }
}
.bottoni-bio {
  display: flex;
  justify-content: left;
  gap: 1rem;
  padding: 10px 0px;
}

.icone-social {
  display: flex;
  justify-content: left;
  gap: 1rem;
  padding: 10px 0px;
}
.icone-social .logo-s2i {
  height: 32px;
  width: 32px;
}

.about-me {
  padding: 2rem;
  margin: 2rem auto;
  line-height: 1.6;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
@media (min-width: 48em) {
  .about-me {
    margin: 2rem 15%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .about-me .text-about-me {
    width: 100%;
    order: 1;
  }
  .about-me .foto-laurea {
    display: flex;
    justify-content: left;
    order: 0;
    width: 50%;
    padding-right: 32px;
  }
  .about-me .foto-laurea .img-fluid {
    padding: 20px 0px;
    width: 100%;
    background-color: transparent;
  }
}

.curriculum {
  padding: 0 20px 40px 20px;
}
.curriculum .badge {
  background-color: #1082df;
  color: #ffffff;
  padding: 5px;
  margin: 5px;
}
@media (min-width: 48em) {
  .curriculum {
    padding: 0 10% 40px 10%;
  }
}/*# sourceMappingURL=style.css.map */