$colore-sfondo-navbar: hsla(0, 0%, 100%, 0);
$colore-primario-sfondo: #0a2841;
$colore-secondario-sfondo: #1082df;
$colore-navbar: hsla(207, 92%, 53%, 0.664);
$colore-hover: rgba(113, 175, 226, 0.568);
$colore-testo-menu: #ffffff;
$colore-sfondo-transparent: rgba(255, 255, 255, 0.05);

.navbar {
  width: 100%;
  position: absolute;
  margin-top: 0px;
  left: 0;
  padding: 0;


  @media (max-width: 47.999em) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .navbar-nav {
    width: 100%;
    border-radius: 0px;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    margin-top: 0px;
    align-items: flex-start;
    overflow: hidden;
    background-color: $colore-secondario-sfondo;
    border-radius: 0px;
    padding: 0;
    gap: 1.5rem;
    max-height: 0;
    transition: max-height .3s ease-out;

    @media (min-width: 48em) {
      background-color: $colore-navbar;
    }

    .nav-link {
      color: $colore-testo-menu;
      display: block;
      padding: 10px 15px;
    }

    .nav-link:hover {
      background-color: $colore-hover;
      border-radius: 20px;
    }
  }
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, $colore-primario-sfondo, $colore-secondario-sfondo);
}

header {
  backdrop-filter: blur(25px);
  background-color: $colore-sfondo-navbar;
  position: fixed;
  width: 100%;
  z-index: 1;

  .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    margin: 0;

    .nav-icon {
      background-color: $colore-secondario-sfondo;
      display: block;
      width: 25px;
      height: 3px;
      position: relative;
      transition: background-color .2s ease-out;

      &::before,
      &::after {
        background-color: $colore-secondario-sfondo;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        transition: all .2s ease-out;
        position: absolute;
      }

      &::before {
        top: 8px;
      }

      &::after {
        top: -8px;
      }
    }
  }

  .menu-btn {
    display: none;
  }

  .menu-btn:checked~.menu-icon {
    background-color: $colore-secondario-sfondo;
    position: fixed;
    right: 0;
    top: 0;
    padding: 28px 20px;
    z-index: 2;

    .nav-icon {
      background-color: transparent;

      &::before,
      &::after {
        background-color: $colore-primario-sfondo;
      }
    }
  }

  .menu-btn:checked~.navbar {
    background-color: $colore-secondario-sfondo;
    top: 0;
    height: 100vh;
  }

  .menu-btn:checked~.navbar .navbar-nav {
    max-height: 100%;
    padding: 1rem;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  }

  .menu-btn:checked~.menu-icon .nav-icon {
    background-color: transparent;
  }

  .menu-btn:checked~.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .menu-btn:checked~.menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
  }
}

.nav-link.active {
  background-color: rgba(10, 40, 65, 0.795);
  border-radius: 30px;
}

h1 {
  color: $colore-testo-menu;
}

h2 {
  color: $colore-testo-menu;
}

p {
  color: $colore-testo-menu;
}

.btn-primary {
  background-color: $colore-testo-menu;
  color: $colore-primario-sfondo;
}

@media (min-width: 48em) {

  h1 {
    color: $colore-testo-menu;
    font-size: 54px;
  }

  h2 {
    color: $colore-testo-menu;
    font-size: 40px;
  }

  header .menu-icon {
    display: none;
  }

  .navbar {
    position: static;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0rem;
  }

  .navbar .navbar-nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 30px;
    padding: 0.5rem 15rem !important;
    width: auto;
    max-height: none !important;
    margin: 1rem;
  }

  .container-fluid {
    display: flex;
    flex-direction: row;
    padding: 150px 10% 40px 10%;
  }

  .bio-iniziale {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }

  .foto-profilo {
    display: flex;
    justify-content: right;
    padding-right: 50px;
  }

  .img-fluid {
    width: 60%;
    height: fit-content;
  }
}

@media (max-width: 47.999em) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    padding: 60px 20px 20px 20px;

    .foto-profilo {
      display: flex;
      justify-content: center;

      .img-fluid {
        padding: 20px 0px;
        width: 90%;
        background-color: transparent;
      }
    }
  }
}

.bottoni-bio {
  display: flex;
  justify-content: left;
  gap: 1rem;
  padding: 10px 0px;
}

.icone-social {
  display: flex;
  justify-content: left;
  gap: 1rem;
  padding: 10px 0px;

  a {
    width: 32px;
    height: 32px;

    svg {
      fill: #ffffff;
    }
  }

  .logo-s2i {
    height: 32px;
    width: 32px;
  }
}

.about-me {
  padding: 2rem;
  margin: 2rem auto;
  line-height: 1.6;
  background-color: $colore-sfondo-transparent;
  border-radius: 10px;

  @media (min-width: 48em) {
    margin: 2rem 15%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .text-about-me {
      width: 100%;
      order: 1;
    }

    .foto-laurea {
      display: flex;
      justify-content: left;
      order: 0;
      width: 50%;
      padding-right: 32px;

      .img-fluid {
        padding: 20px 0px;
        width: 100%;
        background-color: transparent;
      }
    }
  }
}

.curriculum {
  padding: 0 20px 40px 20px;

  .badge {
    background-color: $colore-navbar;
    color: $colore-testo-menu;
    padding: 5px 8px;
    margin: 5px;

    .logo {
      width: 15px;
      height: auto;
      border-radius: 15px;
      margin-right: 3px;
    }
  }

  .skills-lingue {
    padding: 1rem;
    line-height: 1.6;
    background-color: $colore-sfondo-transparent;
    border-radius: 10px;
    margin-bottom: 1em;

    .table {
      color: $colore-testo-menu;
      border-radius: 10px;
      overflow: hidden;
      border: none;

      th,
      td {
        border: none;
      }
    }
  }

  .cv {
    color: $colore-testo-menu;
    padding: 1rem;
    line-height: 1.6;
    background-color: $colore-sfondo-transparent;
    border-radius: 10px;
  }

  @media (min-width: 48em) {
    padding: 0 10% 40px 10%;
    display: flex;
    flex-direction: row;
    padding: 0px 10% 40px 10%;
    gap: 1em;

    .skills-lingue {
      padding: 2rem;
      margin-bottom: 0;
      width: 40%;
    }

    .lavoro {
      width: 80%;
    }

    .istruzione {
      width: 80%;
    }

    .cv {
      padding: 2rem;
    }
  }
}

.progetti {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  .badge {
    background-color: $colore-navbar;
    color: $colore-testo-menu;
    padding: 5px 8px;
    margin-bottom: 10px;
    margin-right: 5px;

    .logo {
      width: 15px;
      height: auto;
      border-radius: 15px;
      margin-right: 3px;
    }
  }

  .card {
    background-color: $colore-sfondo-transparent;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 20rem;

    .card-img-top {
      padding: 10px;
      border-radius: 15px;
    }

    .card-title {
      color: $colore-testo-menu;
    }
  }

  @media (min-width: 48em) {
    display: flex;
    flex-direction: row;
    padding: 0px 10% 40px 10%;
    gap: 1rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  margin-top: 60px;
  background-color: $colore-primario-sfondo;
  color: $colore-testo-menu;

  form {
    padding-top: 30px;

    .btn {
      width: 100%;
      background-color: $colore-secondario-sfondo;
      color: $colore-testo-menu;
      margin-top: 15px;
    }
  }

  .diritti {
    padding-top: 30px;

  hr {
    border: none;
    height: 1px;
    background-color: #ffffff;
  }

    p {
      display: flex;
      justify-content: center;
      color: #ffffffa1;
    }



  }

  @media (min-width: 48em) {
    margin-top: 100px;

    .body-footer {
      display: flex;
      flex-direction: row;
      margin: 2rem 15%;

      .footer-text {
        width: 50%;
        padding-right: 10%;
        padding-top: 30px;
      }

      form {
        width: 50%;
      }
    }
  }
}

.container-contatti {
  padding: 60px 20px 20px 20px;
  color: $colore-testo-menu;

  .btn {
    width: 100%;
    margin-top: 20px;
    background-color: $colore-primario-sfondo;
    color: $colore-testo-menu;
    border-color: $colore-primario-sfondo;
  }

  .btn:hover {
    background-color: $colore-secondario-sfondo;
    border-color: $colore-secondario-sfondo;
  }

  @media (min-width: 48em) {
    display: flex;
    flex-direction: row;
    padding: 150px 10% 40px 10%;

    .footer-text {
      width: 50%;
      padding-right: 5%;
    }

    form {
      width: 50%;
      padding: 3%;
      background-color: $colore-sfondo-transparent;
      display: flex;
      flex-direction: column;
      border-radius: 10px;

      .btn {
        width: 20%;
        margin-top: 30px;


      }
    }
  }
}

.diritti-contatti {
  padding-top: 30px;

    hr {
    border: none;
    height: 1px;
    background-color: #ffffff;
  }

  p {
    display: flex;
    justify-content: center;
    color: #ffffffa1;
  }

}